{% extends '_layout.html' %}

{% block content %}
  <div class="d-flex flex-column" style="margin: 5px; background-color: silver;">

    <div class="d-flex justify-content-center">
      <div class="card" style="width: 18rem; border: none;">
        <h5 class="card-title" style="text-align: center;">{{user.username}}'s Profile</h5>
        <img class="card-img-top img-thumbnail rounded-circle align-items-center" src="{{user.full_image_path}}" alt="Card image cap">

      </div>
    </div>
    

    <div class="container" style="margin: auto;">
      {% for image in user.images %}
      <a href="{{url_for('donations.new', image_id=image.id)}}">
        <img src="{{image.full_image_url}}" width="450" height="450" style="padding: 5px; border: 1px solid black; padding: 5px; margin: 5px; border-radius: 5%;"/>
      </a>
        {% endfor %}
    </div>
  
  </div>

  
{% endblock %}