{% extends "_layout.html" %}

{% block content %}

<h2>Upload images</h2>
<div style="margin: 15px;">
    <form action = "{{ url_for('images.upload', user_id=current_user.id) }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="image">Upload File:</label>
            <input type="file" class="form-control-file" name="image">
          </div>
        
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>


{% endblock %}